---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/sections/Hero.astro';
import Servicios from '../components/sections/Servicios.astro';
import Nosotros from '../components/sections/Nosotros.astro';
import Credenciales from '../components/sections/Credenciales.astro';
import Contacto from '../components/sections/Contacto.astro';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <Servicios />
    <Nosotros />
    <Credenciales />
    <Contacto />
  </main>
  <Footer />
</Layout>
